// <ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ> ====================================================================================================================================
@import 'reset';
// </ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ> ===================================================================================================================================

// <ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ> =================================================================================================================
@import 'ui';
@import 'mixins';
@import 'header';
@import 'footer';
// </ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ> ================================================================================================================

// <ШРИФТЫ> ========================================================================================================================================================
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;1,300&display=swap');
// </ШРИФТЫ> ========================================================================================================================================================

// <ОБОЛОЧКА> ========================================================================================================================================================
.wrapper {
   width: 100%;
   min-height: 100vh;
   overflow: hidden;
   font-family: 'Montserrat', sans-serif;
   color: #fff;
}
// </ОБОЛОЧКА> ========================================================================================================================================================

// <ОСНОВНАЯ СЕТКА> ========================================================================================================================================================
.container {
   width: 100%;
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 15px;
   text-align: center;
}
// </ОСНОВНАЯ СЕТКА> ========================================================================================================================================================

// <MAIN FULL-SCREEN> ========================================================================================================================================================
.main-screen {
   min-height: 100vh;
   position: relative;
   &__bg {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   }
}
// </MAIN FULL-SCREEN> ========================================================================================================================================================

.main-screen {
   display: flex;
   align-items: center;
   // .main-screen__content
   &__content {
      padding: 70px 0 0 25px;
      width: 100%;
      max-width: 1360px;
      margin: 0 auto;
      position: relative;
      z-index: 1;
      opacity: 1;
      transition: .3s;
   }
   &__block {
      max-width: 760px;
   }
   // .main-screen__button
   &__button {
      margin: 0 0 0 34px;
   }
   &__btn {
      width: 198px;
      height: 60px;
      &.btn_p:hover {
         background-color: rgba(244, 34, 103, .6);
      }
      &.btn_b:hover {
         background-color:rgba(37%, 25%, 72%, 1);
      }
   }
   &__scrolldown {
      position: absolute;
      bottom: 15px;
      width: 20px;
      height: 20px;
      left: 50%;
      transform: translate3d(-50%, -100px, 0) rotate(45deg);
      opacity: 0;
      z-index: 1;
      transition: all .8s ease 0s;
      &._active {
         transform: translate3d(-50%, -50px, 0) rotate(45deg);
         opacity: 1;
      }
      & span {
         position: absolute;
         top: 0;
         left: 0;
         display: block;
         border-bottom: 2px solid #fff;
         border-right: 2px solid #fff;
         width: 100%;
         height: 100%;
         opacity: 0;
         animation: animate 1s linear infinite;
         &:first-child {
            transform: translate(-10px, -10px);
            animation-delay: -0.4s;
         }
         &:nth-child(2) {
            transform: translate(0, 0);
            animation-delay: -0.2s;
         }
         &:last-child {
            transform: translate(10px, 10px);
            animation-delay: 0s;
         }
      }
      @keyframes animate {
         0% {
            top: -5px;
            left: -5px;
            opacity: 0;
         }
         25% {
            top: 0px;
            left: 0px;
            opacity: 1;
         }
         50% {
            top: 2.5px;
            left: 2.5px;
         }
         100% {
            top: 5px;
            left: 5px;
         }
      }
   }
   @media(max-width: 1500px) {
      &__content {
         padding: 70px 25px;
         max-width: inherit;
         display: flex;
         flex-direction: column;
         align-items: center;
         text-align: center;
      }
      &__button {
         margin: 0;
      }
   }
   @media(max-width: 1200px) {
      &__content {
         padding: 0 25px;
      }
   }
   @media(max-width: 700px) {
      &__button {
         display: flex;
         flex-direction: column;
         margin: 0;
      }
      &__btn {
         margin: 0 0 15px 0;
      }
   }
   @media(max-width: 540px) {
      &__btn {
         width: 160px;
         height: 50px;
         margin: 0 0 10px 0;
      }
   }
}

.btn {
   color: #fff;
   box-shadow: 1px 4px 16px rgba(1, 2, 2, 0.35);
   text-transform: uppercase;
   font-size: 17px;
   border-radius: 50px;
   transition: .5s;
   
   transform: translate3d(0, 50%, 0);
   opacity: 0;
   transition: all .8s ease .5s;
   &._active {
      transform: translate3d(0, 0, 0);
      opacity: 1;
   }
   &_p {
      background-color:rgba(244, 34, 103, 1);
   }
   // .main-screen__button_b
   &_b {
      margin: 0 0 0 22px;
      background-color:rgba(37%, 25%, 72%, .6);
   }
   &_s {
      width: 146px;
      height: 47px;
      box-shadow: 0 10px 0 #ff5990;
      border-radius: 10px;
      background-color: #f42267;
      font-size: 15px;
      font-weight: 600;
      line-height: 13.05px;
      margin: 0 0 10px 13px;
      @media(max-width: 1200px) {
         margin: 0 0 0 0;
      }
   }
   &_c {
      width: 146px;
      height: 47px;
      box-shadow: 0 7px 0 #a57ee9;
      border-radius: 10px;
      background-color: #4b2d7f;
      font-size: 15px;
      font-weight: 600;
      line-height: 13.05px;
      margin: 0 0 10px 13px;

      transform: translate3d(100%, 0, 0);
      opacity: 0;
      transition: all .8s ease .5s;
      &._active {
         transform: translate3d(0, 0, 0);
         opacity: 1;
      }
   }
   @media(max-width: 700px) {
      font-size: 14px;
      &_b {
         margin: 0;
      }
   }
}

.block-content {
   // .block-content__suptitle
   &__suptitle {
      font-size: 43px;
      font-weight: 300;
      font-style: italic;
      line-height: 36px;
      margin: 0 0 16px 0;

      transform: translate(0, 50%);
      opacity: 0;
      transition: all .8s ease 0s;
   }
   &__suptitle._active {
      transform: translate(0, 0);
      opacity: 1;
   }
   // .block-content__title
   &__title {
      font-size: 65px;
      font-weight: 600;
      line-height: 67.23px;
      margin: 0 0 25px 0;

      transform: translate(0, 50%);
      opacity: 0;
      transition: all .8s ease 0.2s;
   }
   &__title._active {
      transform: translate(0, 0);
      opacity: 1;
   }
   // .block-content__text
   &__text {
      font-size: 23px;
      line-height: 32.32px;
      margin: 0 0 69px 0;

      transform: translate(0, 50%);
      opacity: 0;
      transition: all .8s ease 0.4s;
   }
   &__text._active {
      transform: translate(0, 0);
      opacity: 1;
   }
   @media(max-width: 1024px) {
      &__suptitle {
         font-size: 35px;
         line-height: 35px;
         margin: 0 0 12px 0;
      }
      // .block-content__title
      &__title {
         font-size: 50px;
         line-height: 52px;
         margin: 0 0 20px 0;
      }
   }
   @media(max-width: 540px) {
      &__suptitle {
         font-size: 27px;
         line-height: 25px;
         margin: 0 0 5px 0;
      }
      // .block-content__title
      &__title {
         font-size: 30px;
         line-height: 27px;
         margin: 0 0 10px 0;
      }
      &__text {
         font-size: 16px;
         line-height: 21px;
         margin: 0 0 20px 0;
      }
   }
   &_d {
      color: #484848;
      .block-content__suptitle {
         font-size: 33px;
         font-style: italic;
         line-height: 34.45px;
      }
      .block-content__title {
         font-size: 50px;
         line-height: 52px;
         letter-spacing: -0.44px;
         margin: 0 0 45px 0;
      }
      .block-content__text {
         color: #1d1d1d;
         font-size: 14px;
         line-height: 25px;
      }
      @media(max-width: 1100px) {
         .block-content__suptitle {
            font-size: 30px;
            font-style: italic;
            line-height: 30px;
         }
         .block-content__title {
            font-size: 45px;
            line-height: 48px;
            letter-spacing: -0.44px;
            margin: 0 0 20px 0;
         }
         .block-content__text {
            color: #1d1d1d;
            font-size: 14px;
            line-height: 24px;
            margin: 0 0 15px 0;
         }
         .filter__list {
            margin: 0;
         }
      }
      @media(max-width: 600px) {
         .block-content__suptitle {
            font-size: 25px;
            font-style: italic;
            line-height: 25px;
         }
         .block-content__title {
            font-size: 45px;
            line-height: 45px;
            letter-spacing: -0.44px;
            margin: 0 0 35px 0;
         }
         .block-content__text {
            color: #1d1d1d;
            font-size: 14px;
            line-height: 24px;
            margin: 0 0 15px 0;
         }
      }
   }
   &_t {
      .block-content__suptitle {
         font-size: 48px;
         font-style: italic;
         line-height: 50.25px;
      }
      .block-content__title {
         font-size: 50px;
         line-height: 52px;
      }
      .block-content__text {
         font-size: 20px;
         line-height: 32px;
      }
      @media(max-width: 768px) {
         .block-content__suptitle {
            font-size: 45px;
            line-height: 45px;
         }
         .block-content__title {
            font-size: 45px;
            line-height: 48px;
         }
         .block-content__text {
            font-size: 18px;
            line-height: 25px;
            margin: 0 0 50px 0;
         }
      }
      @media(max-width: 500px) {
         .block-content__suptitle {
            font-size: 37px;
            line-height: 37px;
         }
         .block-content__title {
            font-size: 42px;
            line-height: 45px;
         }
         .block-content__text {
            font-size: 16px;
            line-height: 25px;
            margin: 0 0 35px 0;
         }
      }
   }
   &_a {
      .block-content__suptitle {
         font-weight: 600;
         color: #484848;
         font-size: 33px;
         font-style: italic;
         line-height: 34.45px;
      }
      .block-content__title {
         color: #484848;
         font-size: 50px;
         line-height: 52px;
      }
      .block-content__text {
         color: #1d1d1d;
         font-size: 18px;
         line-height: 25px;
         font-weight: bold;
      }
      @media(max-width: 1024px) {
         .block-content__suptitle {
            font-size: 30px;
            line-height: 32px;
         }
         .block-content__title {
            font-size: 45px;
            line-height: 47px;
         }
         .block-content__text {
            font-size: 16px;
            line-height: 21px;
            font-weight: bold;
            margin: 0 0 65px 0;
         }
      }
   }
   &_r {
      .block-content__title {
         color: #484848;
         font-size: 25px;
         line-height: 28.92px;
         margin: 15px 0 14px 0;
      }
      .block-content__text {
         color: #1d1d1d;
         font-size: 14px;
         line-height: 25px;
      }
      @media(max-width: 1024px) {
         .block-content__text {
            margin: 0 0 50px;
         }
      }
      @media(max-width: 700px) {
         .block-content__text {
            margin: 0 0 30px;
         }
      }
      @media(max-width: 400px) {
         .block-content__text {
            margin: 0 0 15px;
         }
      }
   }
   &_p {
      .block-content__title {
         color: #333333;
         font-size: 50px;
         line-height: 52px;
         margin: 0 0 32px 0;
      }
      .block-content__text {
         color: #333333;
         font-size: 20px;
         line-height: 32px;
         margin: 0 0 55px 0;
      }
      @media(max-width: 900px) {
         .block-content__text {
            margin: 0 0 30px 0;
         }
      }
      @media(max-width: 600px) {
         .block-content__title {
            font-size: 42px;
            line-height: 45px;
            margin: 0 0 15px 0;
         }
         .block-content__text {
            font-size: 18px;
            line-height: 32px;
            margin: 0 0 10px 0;
         }
      }
   }
}

.dream {
   text-align: center;
   padding: 108px 0 54px 0;
   .container {
      display: flex;
   }
   &__column {
      margin: 0 200px 0 0;
      flex: 0 1 60%;
      padding: 0 0 80px 0;
      &:last-child {
         flex: 0 1 40%;
         margin: 0;
         padding: 0;

         transform: translate3d(100%, 0, 0);
         opacity: 0;
         transition: all .8s ease .2s;
         &._active {
            transform: translate3d(0, 0, 0);
            opacity: 1;
         }
         & img {
            width: 100%;
            height: auto;
            object-fit: contain;
         }
      }
   }
   &__item {
      width: 0;
      height: 0;
      transition: 1s;
      &.active {
         width: 100%;
         height: 100%;
      }
   }
   @media(max-width: 1100px) {
      padding: 70px 0 54px 0;
      .container {
         flex-direction: column;
         align-items: center;
      }
      &__column {
         max-width: 90%;
         margin: 0 0 30px 0;
         padding: 0;
      }
   }
   @media(max-width: 700px) {
      padding: 50px 0 50px 0;
   }
}

.filter {
   opacity: 0;
   transition: all .8s ease .4s;
   &._active {
      opacity: 1;
   }
   // .filter__list
   &__list {
      display: flex;
      justify-content: center;
      margin: 0 0 45px 0;
   }
   // .filter__link
   &__link {
      width: 129px;
      height: 46px;
      text-transform: uppercase;
      font-weight: 600;
      color: #484848;
      font-size: 13px;
      line-height: 11.07px;
      display: flex;
      justify-content: center;
      align-items: center;
      &.active {
         box-shadow: 1px 4px 16px rgba(1, 2, 2, 0.35);
         border-radius: 23px;
         background-color: #f42267;
         color: #fff;
      }
   }
   @media(max-width: 540px) {
      &__list {
      display: flex;
      flex-direction: column;
      align-items: center;
      }
      &__link {
         width: 129px;
         height: 46px;
      }
   }
}

.statistics {
   background-color: #4b2d7f;
   &__body {
      width: 100%;
      max-width: 1500px;
      margin: 0 auto;
      display: flex;
   }
   // .statistics__column
   &__column {
      flex: 0 1 30%;
      padding: 85px 80px 105px 80px;
      &:first-child {
         transform: translate3d(-50%, 0, 0);
         opacity: 0;
         transition: all .8s ease 0s;
            &._active {
               transform: translate3d(0, 0, 0);
               opacity: 1;
            }
      }
      &:nth-child(2) {
         flex: 0 1 40%;
         padding: 85px 125px 105px 125px;
         background-color: #40286a;

         opacity: 0;
         transition: all .8s ease 0s;
            &._active {
               opacity: 1;
            }
      }
      &:last-child {
         transform: translate3d(50%, 0, 0);
         opacity: 0;
         transition: all .8s ease 0s;
            &._active {
               transform: translate3d(0, 0, 0);
               opacity: 1;
            }
      }
   }
   // .statistics__block
   &__block {
      text-align: center;
   }
   // .statistics__icon
   &__icon {
      margin: 0 0 30px 0;
   }
   // .statistics__num
   &__num {
      font-size: 50px;
      line-height: 62.38px;
      margin: 0 0 18px 0;
   }
   // .statistics__title
   &__title {
      font-size: 25px;
      font-weight: 600;
      margin: 0 0 25px 0;
   }
   // .statistics__text
   &__text {
      font-size: 15px;
      opacity: 0.41;
      line-height: 24px;
   }
   @media(max-width: 1400px) {
      &__num {
         font-size: 45px;
         line-height: 50px;
         margin: 0 0 10px 0;
      }
      // .statistics__title
      &__title {
         font-size: 21px;
         font-weight: 600;
         margin: 0 0 15px 0;
      }
      &__column {
         flex: 0 1 30%;
         // padding: 85px 65px 105px 65px;
         &:nth-child(2) {
            flex: 0 1 40%;
            padding: 85px 105px 105px 105px;
            background-color: #40286a;
         }
      }
   }
   @media(max-width: 1200px) {
      &__column {
         padding: 85px 50px 105px 50px;
      }
   }
   @media(max-width: 1200px) {
      &__body {
         flex-direction: column;
      }
      &__column {
         display: flex;
         justify-content: center;
         padding: 65px 50px 65px 50px; 
         &:nth-child(2) {
           padding: 85px 105px 85px 105px; 
         }   
      }
      &__block {
         max-width: 55%;
      }
   }
   @media(max-width: 700px) {
      &__column {
         display: flex;
         justify-content: center;
         padding: 45px 50px 45px 50px; 
         &:nth-child(2) {
           padding: 55px 105px 55px 105px; 
         }   
      }
      &__block {
         max-width: 72%;
      }
   }
   @media(max-width: 500px) {
      &__column {
         display: flex;
         justify-content: center;
         padding: 45px 20px 45px 20px; 
         &:nth-child(2) {
           padding: 55px 25px 55px 25px; 
         }   
      }
      &__block {
         max-width: 100%;
      }
   }
}

.together {
   padding: 90px 0;
   text-align: center;
   position: relative;
   // .together__bg
   &__bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background-color: rgba(0, 13, 255, .7);
   }
   @media(max-width: 768px) {
      padding: 70px 0;
   }
   @media(max-width: 500px) {
      padding: 50px 0;
   }
}

.agency {
   padding: 100px 0 115px 0;
   .container {
      display: flex;
   }
   // .agency__column
   &__column {
      flex: 0 1 50%;
      &:last-child {
         position: relative;
         display: flex;
         justify-content: center;
         align-items: center;

         transform: translate3d(100%, 0, 0);
         opacity: 0;
         transition: all .8s ease .2s;
         &._active {
            transform: translate3d(0, 0, 0);
            opacity: 1;
         }
      }
   }
   // .agency__block
   &__block {
      &_v {
         position: absolute;
         height: 90%;
      }
   }
   &__video {
      height: 100%;
      border-radius: 15px;
   }
   &__icon {
      font-size: 0;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate3d(-35%, -45%, 0);
      width: 0;
      height: 0;
      border-left: 36px solid #fff;
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
   }
   @media(max-width: 1200px) {
      padding: 65px 0 75px 0;
      &__block {
         &_v {
            height: 75%;
         }
      }
   }
   @media(max-width: 900px) {
      .container {
         flex-direction: column;
      }
      &__column {
         margin: 0 0 35px 0;
         &:last-child {
            height: 85vw;
            margin: 0;
         }
      }
      &__block {
         &_v {
            position: static;
            height: 100%;
         }
      }
      &__video {
         height: 100%;
         width: 100%;
         border-radius: 15px;
         object-fit: cover;
      }
   }
   @media(max-width: 600px) {
      padding: 35px 0 55px 0;
   }
}

.row-agency {
   display: flex;
   // .row-agency__column
   &__column {
      flex: 0 1 50%;
      &:first-child {
         margin: 0 40px 0 0;
      }
   }
   // .row-agency__icon
   &__icon {
      height: 75px;
   }
   @media(max-width: 600px) {
      flex-direction: column;
      &__column {
         &:first-child {
            margin: 0 0 35px 0;
         }
      }
   }
}

.portfolio {
   padding: 74px 0 125px 0;
   background-color: #f1f1f1;
   .filter__list {
      margin: 0 0 92px 0;
   }
   // .portfolio__gallery
   &__gallery {
      display: flex;
      flex-wrap: wrap;
      margin: -16px;
      padding: 0 0 80px 0;
   }
   // .portfolio__item
   &__item {
      flex: 0 1 33.333%;
      padding: 16px;
      & img {
         width: 100%;
         height: 100%;
         object-fit: cover;
         border-radius: 15px;
      }
   }
   @media(max-width: 900px) {
      .filter__list {
         margin: 0 0 45px 0;
      }
      &__item {
         flex: 0 1 50%;
      }
   }
   @media(max-width: 600px) {
      padding: 50px 0;
      .filter__list {
         margin: 0 0 25px 0;
      }
      &__gallery {
         padding: 0 0 40px 0;
         justify-content: center;
      }
      &__item {
         flex: 0 1 95%;
      }
   }
   &__modal {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1000;
      padding: 100px 0 0 0;
      background-color: rgba(0, 0, 0, 0.37);
      width: 100%;
      height: 100%;
      overflow: auto;
   }
   // .portfolio__closed
   &__closed {
      color: rgba(244, 34, 103, .56);
      position: absolute;
      top: 10px;
      right: 25px;
      font-size: 35px;
      font-weight: bold;
      background-color: transparent;
      transition: .3s;
      &:hover {
         color: #ff5990;
         cursor: pointer;
      }
   }
   // .portfolio__slider
   &__slider {
      position: relative;
      margin: 0 auto;
      background-color: #fefefe;
      padding: 0;
      border-radius: 15px;
      width: 85%;
      max-width: 400px;
   }
   &__prev, 
   &__next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      left: 0;
      width: auto;
      padding: 16px;
      margin: -22px 0 0 0;
      color: #ff5990;
      font-weight: bold;
      font-size: 20px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
      -webkit-user-select: none;
   }
   &__prev:hover, 
   &__next:hover {
      background-color:rgba(244, 34, 103, .3);
   }
   &__next {
      right: 0;
      left: auto;
      border-radius: 3px 0 0 3px;
   }
   // .portfolio__slide
   &__slide {
      display: none;
      width: 100%;
      height: 100%;
      & img {
         width: 100%;
         height: 100%;
         object-fit: cover;
         border-radius: 15px;
      }
   }
} 

.brands {
   padding: 120px 10vw;
   background-color: #4b2d7f;
   // .brands__row
   &__row {
      display: flex;
      align-items: center;
      margin: 0 0 59px 0;
      .brands__column {
            .brands__item {   
            transform: translate3d(100%, 0, 0);
            opacity: 0;
            transition: all .8s ease .2s;
               &._active {
                  transform: translate3d(0, 0, 0);
                  opacity: 1;
               }
         }
      }
      &:last-child {
         margin: 0;
         .brands__column {
            .brands__item {   
               transform: translate3d(-100%, 0, 0);
               opacity: 0;
               transition: all .8s ease .2s;
                  &._active {
                     transform: translate3d(0, 0, 0);
                     opacity: 1;
                  }
            }
         }
      }
   }
   // .brands__column
   &__column {
      flex: 0 1 25%;
      text-align: center;
   }
   // .brands__item
   &__item {}
   @media(max-width: 900px) {
      padding: 80px 10vw;
      &__row {
         flex-wrap: wrap;
         margin: 0;
         &:last-child {
            .brands__column:nth-child(3), .brands__column:nth-child(4) {
               margin: 0;
            }
         }
      }
      &__column {
         flex: 0 1 50%;
         margin: 0 0 60px 0;
      }
   }
   @media(max-width: 415px) {
      padding: 50px 15px;
      &__column {
         flex: 0 1 100%;
         margin: 0 0 40px 0;
      }
      &__row {
         &:last-child {
            .brands__column:nth-child(3) {
               margin: 0 0 40px 0;
            }
         }
      }
   }
}

.client {
   position: relative;
   padding: 75px 0;
   // .client__content
   &__content {
      position: relative;
      z-index: 2;
      color: #fff;
   }
   &__slide {
      display: flex;
      justify-content: center;
      user-select: none; 
         
      transform: translate3d(50%, 0, 0);
      opacity: 0;
      transition: all .8s ease 0s;
      &._active {
         transform: translate3d(0, 0, 0);
         opacity: 1;
      }
   }
   &__item {
      max-width: 50%;
   }
   // .client__title
   &__suptitle {
      font-size: 34px;
      font-style: italic;
      line-height: 79.19px;      
   }
   &__title {
      font-size: 50px;
      line-height: 48px;
      margin: 0 0 74px 0;
   }
   // .client__text
   &__text {
      font-size: 22px;
      font-weight: 300;
      font-style: italic;
      margin: 0 0 75px 0;
      padding: 0 0 0 52px;
      line-height: 30px;
      position: relative;
      &::before {
         content: '';
         position: absolute;
         width: 52px;
         height: 34px;
         top: -24px;
         left: 0;
         background: url('../img/client/quality.png') no-repeat center;
         background-size: contain;
      }
   }
   // .client__img
   &__img {
      margin: 0 0 25px 0;
   }
   // .client__name
   &__name {
      font-size: 24px;
      font-weight: 300;
   }
   // .client__bg
   &__bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #000;
   }
   @media(max-width: 900px) {
      &__item {
         max-width: 70%;
      }
      &__suptitle {
         font-size: 28px;
         line-height: 55.19px;   
      }
      &__title {
         font-size: 45px;
         margin: 0 0 55px 0;
      }
      // .client__text
      &__text {
         font-size: 20px;
         margin: 0 0 75px 0;
         padding: 0 0 0 40px;
         line-height: 30px;
         &::before {
            width: 40px;
            height: 30px;
            top: -12px;
            background-size: contain;
         }
      }
   }
   @media(max-width: 525px) {
      padding: 50px 0 70px 0;
      &__item {
         max-width: 82%;
      }
   }
}

.contact {
   padding: 85px 0;
   background-color: #e32060;
   // .contact__title
   &__title {
      font-size: 50px;

      transform: translate3d(0, 50%, 0);
      opacity: 0;
      transition: all .8s ease 0s;
      &._active {
         transform: translate3d(0, 0, 0);
         opacity: 1;
      }
   }
   // .contact__subtitle
   &__subtitle {
      font-size: 30px;
      line-height: 48px;
      margin: 0 0 25px 0;

      transform: translate3d(0, 50%, 0);
      opacity: 0;
      transition: all .8s ease .2s;
      &._active {
         transform: translate3d(0, 0, 0);
         opacity: 1;
      }
   }
   // .contact__text
   &__text {
      font-size: 18px;
      line-height: 25px;
      margin: 0 0 62px 0;

      transform: translate3d(0, 50%, 0);
      opacity: 0;
      transition: all .8s ease .4s;
      &._active {
         transform: translate3d(0, 0, 0);
         opacity: 1;
      }
   }
   // .contact__form
   &__form {
      display: flex;
      align-items: center;
   }
   // .contact__input
   &__input {
      flex: 0 1 45%;
      background-color: #f06e99;
      margin: 0 15px 0 0;
      padding: 24px 0 22px 40px;
      border-radius: 15px;
      font-size: 15px;
      color: #fff;

      transform: translate3d(-100%, 0, 0);
      opacity: 0;
      transition: all .8s ease .5s;
      &._active {
         transform: translate3d(0, 0, 0);
         opacity: 1;
      }
      &::placeholder {
         font-size: 15px;
         color: #fff;
      }
   }
   @media(max-width: 900px) {
      &__form {
         flex-direction: column;
      }
      &__input {
         width: 80%;
         margin: 0 0 15px 0;
         &:last-child {
            margin: 0;
         }
      }
   }
   @media(max-width: 700px) {
      padding: 50px 0;
      &__input {
         width: 95%;
         margin: 0 0 12px 0;
      }
   }
}

.social {
   padding: 81px 0;
   background-color: #4b2d7f;
   // .social__block
   &__block {
      display: flex;
      justify-content: center;
      margin: 0 -40px;
   }
   // .social__item
   &__item {
      font-size: 27px;
      line-height: 37.9px;
      padding: 0 40px;
      position: relative;
      &:nth-child(2n) {
         transform: translate3d(0, -50%, 0);
         opacity: 0;
         transition: all .8s ease .2s;
         &._active {
            transform: translate3d(0, 0, 0);
            opacity: 1;
         }
      }
      &:first-child, &:nth-child(3), &:last-child {
         transform: translate3d(0, 50%, 0);
         opacity: 0;
         transition: all .8s ease .2s;
         &._active {
            transform: translate3d(0, 0, 0);
            opacity: 1;
         }
      }
      & a {
         color: #fff;
         &:hover {
            border-bottom: 2px solid #7647c7;
         }
         &::after {
            content: '';
            right: 0;
            top: 50%;
            position: absolute;
            width: 2px;
            height: 75%;
            background-color: #7647c7;
            transform: translateY(-50%);
         }
      }
      &:last-child a::after {
         display: none;
      }
   }
   @media(max-width: 1000px) {
      &__item {
         font-size: 25px;
         line-height: 35px;
         padding: 0 32px;
      }
   }
   @media(max-width: 840px) {
      &__item {
         font-size: 22px;
         line-height: 25px;
         padding: 0 25px;
      }
   }
   @media(max-width: 700px) {
      padding: 40px 0;
      &__block {
         display: flex;
         flex-direction: column;
      }
      &__item {
         font-size: 28px;
         line-height: 35px;
         padding: 12.5px 0 12.5px 0;
         & a::after {
            display: block;
            left: 50%;
            bottom: 0;
            top: auto;
            width: 45px;
            height: 2px;
            transform: translateX(-50%);
            margin: 0 0 -1px 0;
         }
         & a:hover {
            border-bottom: none;
            color: #7647c7;
         }
      }
   }
}

.company {
   padding: 115px 0;
   .container {
      display: flex;
      text-align: justify;
      padding: 0 30px;
   }
   // .company__column
   &__column {
      flex: 0 1 50%;
      &:first-child {
         transform: translate3d(-50%, 0, 0);
         opacity: 0;
         transition: all .8s ease .2s;
         &._active {
            transform: translate3d(0, 0, 0);
            opacity: 1;
         }
      }
      &:last-child {
         transform: translate3d(50%, 0, 0);
         opacity: 0;
         transition: all .8s ease .2s;
         &._active {
            transform: translate3d(0, 0, 0);
            opacity: 1;
         }
      }
   }
   // .company__block
   &__block {}
   // .company__row
   &__row {}
   // .company__name
   &__name {
      color: #4b2d7f;
      font-size: 27px;
      font-weight: 900; 
      margin: 0 0 17px 0;
   }
   // .company__item
   &__item {
      color: black;
      font-weight: 900;
      font-size: 16px;
      line-height: 24px; 
      &:last-child {
         margin: 0;
      }
   }
   @media(max-width: 900px) {
      padding: 70px 0;
      &__name {
         font-size: 30px;
         margin: 0 0 12px 0;
      }
      // .company__item
      &__item {
         font-size: 18px;
         line-height: 28px; 
         &:last-child {
            margin: 0;
         }
      }
      .container {
         flex-direction: column;
         text-align: center;
      }
   }
   @media(max-width: 500px) {
      &__column {
         &:first-child {
            display: none;
         }
      }
   }
}

.row-company {
   display: flex;
   margin: 0 0 70px 0;
   &:last-child {
      margin: 0;
   }
   // .row-company__column
   &__column {
      flex: 0 1 50%;
      & a {
         display: block;
      }
   }
   @media(max-width: 900px) {
      & {
         margin: 0 0 50px 0;
         justify-content: center;
      }
      &:last-child {
         margin: 0 0 50px 0;
      }
      &__column {
         flex: 0 1 35%;
      }
   }
   @media(max-width: 625px) {
      &__column {
         flex: 0 1 42%;
      }
   }
   @media(max-width: 500px) {
      &:last-child {
         margin: 0 0 50px 0;
      }
      &__column {
         flex: 0 1 100%;
      }
   }
}

.block-company {
   margin: -9px 0;
   // .block-company__row
   &__row {
      display: flex;
      margin: 0 -9px;
      padding: 9px 0;
      .row-company__column {
         display: none;
      }
   }
   // .block-company__item
   &__item {
      flex: 0 1 50%;
      padding: 0 9px;
      & img {
         width: 100%;
         height: 100%;
         object-fit: cover;
         border-radius: 15px;
      }
   }
   @media(max-width: 500px) {
      &__row {
         flex-wrap: wrap;
         .row-company__column {
            display: block;
         }
      }
      &__item {
         flex: 0 1 100%;
         margin: 20px 0;
         padding: 0;
         &:last-child {
            margin: 20px 0 0 0;
         }
      }
   }
}