// ibj
.ibg {
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   position: relative;
   img {
   width: 0;
   height: 0;
   position: absolute;
   top: 0;
   left: 0;
   opacity: 0;
   visibility: hidden;
}
}
// Ограничивающая оболочка
.slick-list {
   overflow: hidden;
   align-items: flex-start;
}
// Лента слайдов
.slick-track{
   display: flex;
   align-items: flex-start;
}

// Точки (булиты)
.slick-dots{
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 20px 0 0 0;
   li{
      list-style: none;
   }
   // Активная точка
   li.slick-active button {
      background-color: #f32167;
      
   }
   // Элемент точки
   li button{
      font-size: 0;
      width: 10px;
      height: 10px;
      background-color: #fff;
      border-radius: 50%;
      margin: 0 3px;
   }
}